@font-face { font-family: 'anton-regular';  src: url( '../Anton-Regular.ttf' ); }
@font-face { font-family: 'futura-heavy';   src: url( '../Futura Heavy.otf' ); }
@font-face { font-family: 'bilbo-swash';    src: url( '../BilboSwashCaps-Regular.ttf' ); }
@font-face { font-family: 'script-92';      src: url( '../Script 92 Normal.ttf' ); }
@font-face { font-family: 'ccr';            src: url( '../ClimateCrisis-Regular-VariableFont_YEAR.ttf' ); }

/* thx to https://developer.mozilla.org/en-US/docs/Web/CSS/line-height-step */
:root {
  --root-font-family:     futura-heavy;
  --artist-font-family:   futura-heavy;
  --title-font-family:    anton-regular;
  --jonas-font-family:    script-92;
  --slogan-font-family:   ccr;
  --root-font-size:       4mm;
  --td-padding-top:       calc( 0.5 * var(--root-font-size) );
  --td-shift-top:         calc( 0.5 * var(--root-font-size) );
  --artist-font-size:     calc( 1.0 * var(--root-font-size) );
  --note-font-size:       calc( 0.75 * var(--root-font-size) );
  --title-font-size:      calc( 1.2 * var(--root-font-size) );
  --jonas-font-size:      calc( 5 * var(--root-font-size) );
  --slogan-font-size:     calc( 2 * var(--root-font-size) );
  /*--card-height:          calc( 3 * var(--root-font-size) );*/
  --grid-size:            3mm;
  --root-text-color:      #333;
  --marker-color:         #f55;
  --jonas-color:          var(--marker-color);
  --slogan-color:         var(--marker-color);
  --link-color:           var(--marker-color);
  --warn-color:           hotpink;
  --column-width:         100mm; /* ### TAINT calculate from page size */
  font-family:            var(--root-font-family);
  font-size:              var(--root-font-size);
  line-height-step:       var(--grid-size); }

html, body {
  /*background-color:       #9eaeb5;*/
  /*height:                 100vh;*/
  /*width:                  100vw;*/
  width:                  210mm;
  padding:                0mm;
  margin:                 0mm;
  color:                  var(--root-text-color);
  /*position:               absolute;*/
  /*overflow:               hidden;*/
  /*font-size:              6mm;*/
}

div.tracker {
  columns:                2; }

div {
  text-align:             justify;
  line-height-step:       calc( 1 * var(--root-font-size) );
  margin-top:             calc( 1 * var(--root-font-size) );
  page-break-inside:      avoid;
}



@page {
  size: A5 landscape; }
