td:nth-child( 3 ) { color:  red; }
.hero           { outline: 1px solid blue; }
.jonas          { outline: 2px solid green; }
.slogan-top     { outline: 3px solid orange; }
.slogan-bottom  { outline: 3px solid orange; }
