
@font-face { font-family: 'anton-regular';  src: url( './fonts/Anton-Regular.ttf' ); }
/*@font-face { font-family: 'futura-heavy';   src: url( './fonts/Futura Heavy.otf' ); }*/
/*@font-face { font-family: 'bilbo-swash';    src: url( './fonts/BilboSwashCaps-Regular.ttf' ); }*/
@font-face { font-family: 'script-92';      src: url( './fonts/Script 92 Normal.ttf' ); }
@font-face { font-family: 'ccr';            src: url( './fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf' ); }
/*@font-face { font-family: 'futura-book';    src: url( './fonts/Futura Book.otf'     ); }*/
@font-face { font-family: 'futura-medium';  src: url( './fonts/Futura Medium.otf'   ); }
/*@font-face { font-family: 'futura-regular'; src: url( './fonts/Futura Regular.ttf'  ); }*/

/* thx to https://developer.mozilla.org/en-US/docs/Web/CSS/line-height-step */
:root {
  --root-font-family:     futura-medium;
  --artist-font-family:   futura-medium;
  --title-font-family:    anton-regular;
  --jonas-font-family:    script-92;
  --slogan-font-family:   ccr;
  --root-font-size:       4mm;
  --td-padding-top:       calc( 0.5 * var(--root-font-size) );
  --td-shift-top:         calc( 0.5 * var(--root-font-size) );
  --artist-font-size:     calc( 1.0 * var(--root-font-size) );
  --note-font-size:       calc( 0.75 * var(--root-font-size) );
  --title-font-size:      calc( 1.2 * var(--root-font-size) );
  --jonas-font-size:      calc( 5 * var(--root-font-size) );
  --slogan-font-size:     calc( 2 * var(--root-font-size) );
  /*--card-height:          calc( 3 * var(--root-font-size) );*/
  --grid-size:            5mm;
  --root-text-color:      #333;
  --marker-color:         #f55;
  --jonas-color:          var(--marker-color);
  --slogan-color:         var(--marker-color);
  --link-color:           var(--marker-color);
  --warn-color:           hotpink;
  --column-width:         80mm; /* ### TAINT calculate from page size */
  --column-height:        80mm;
  font-family:            var(--root-font-family);
  font-size:              var(--root-font-size);
  line-height-step:       var(--grid-size);
  line-height:            var(--grid-size);
}

html, body {
  /*background-color:       #9eaeb5;*/
  /*height:                 100vh;*/
  /*width:                  100vw;*/
  /*width:                  210mm;*/
  padding:                0mm;
  margin:                 0mm;
  color:                  var(--root-text-color);
  /*position:               absolute;*/
  /*overflow:               hidden;*/
  /*font-size:              6mm;*/
}

galley {
  display:                block;
  outline:                3px dotted red;
  position:               relative;
  /*overflow-y:             scroll;*/
  overflow-y:             visible;
  margin:                 0mm;
  width:                  var(--column-width);
  /*margin-top:             10mm;*/
  /*margin-bottom:          10mm;*/
  margin-bottom:          var(--column-height); /* should be calculated as max of all column heights */
  margin-top:             var(--column-height); /* should be calculated as max of all column heights */
  page-break-inside:      avoid;
  /*columns:                3;*/ }

div.spacer {
  min-height:             50mm;
  height:                 50mm; }

galley > p {
  text-align:             justify;
  text-justify:           inter-character;
  line-height-step:       calc( 1 * var(--root-font-size) );
  margin-bottom:          calc( 1 * var(--root-font-size) ); }

galley > p::first-letter {
  font-size:              200%;
  color:                  red; }

@page {
  size:                   A4 landscape;
  margin-top:             14mm;
  margin-bottom:          14mm;
  /*padding:                0mm;*/
}

.header {
  display:                none;
  background-color:       lightblue;
  width:                  100%;
  position:               fixed;
  top:                    0mm; }

.footer {
  display:                none;
  background-color:       lightblue;
  width:                  100%;
  position:               fixed;
  bottom:                 0; }

.µ-clientrec {
  position:               absolute;
  margin:                 0;
  padding:                0;
  outline:                1px solid red;
  background-color:       rgba(255,255,0,0.4);
  mix-blend-mode:         multiply;
  pointer-events:         none; }

.µ-clientrec::first-letter {
  /* ### TAINT consider to use scopes instead of `!important` */
  font-size:              100% !important;
  color:                  black !important; }

div::nth-line(2) { color: red; }

.µ-clientrec.above {
  background-color:       rgba(0,255,0,0.5); }

.µ-clientrec.below {
  background-color:       rgba(255,0,255,0.5); }

/*.µ-clientrec.ref-rectangle {
  background-color:       rgba(255,150,15,0.5); }
*/
button#redraw {
  position:               fixed;
  top:                    3mm;
  left:                   95mm;
}

iframe {
  margin:                 2.5mm;
  width:                  80mm;
  height:                 53mm;
  overflow:               hidden;
  scrollbar-width:        none;
  outline:                1px dotted red; }

iframe::-webkit-scrollbar {
  width:                  0;
  display:                none; }

.box {
  background-color:       rgba( 255, 248, 0, 0.2 );
/*  outline:                1px solid rgba( 255, 0, 0, 0.2 );
  outline-offset :        0px;*/
  outline:                1px solid rgba( 255, 0, 0, 0.2 );
  mix-blend-mode:         multiply;
  pointer-events:         none;
  position:               absolute; }

.box.cover {
  background-color:       rgba( 255, 0, 0, 0.2 );
/*  outline:                1px solid rgba( 255, 0, 0, 0.2 );
  outline-offset :        0px;*/
  mix-blend-mode:         normal;
  pointer-events:         none;
  position:               absolute; }
