
@font-face { font-family: 'anton-regular';  src: url( './fonts/Anton-Regular.ttf' ); }
/*@font-face { font-family: 'futura-heavy';   src: url( './fonts/Futura Heavy.otf' ); }*/
/*@font-face { font-family: 'bilbo-swash';    src: url( './fonts/BilboSwashCaps-Regular.ttf' ); }*/
@font-face { font-family: 'script-92';      src: url( './fonts/Script 92 Normal.ttf' ); }
@font-face { font-family: 'ccr';            src: url( './fonts/ClimateCrisis-Regular-VariableFont_YEAR.ttf' ); }
/*@font-face { font-family: 'futura-book';    src: url( './fonts/Futura Book.otf'     ); }*/
@font-face { font-family: 'futura-medium';  src: url( './fonts/Futura Medium.otf'   ); }
/*@font-face { font-family: 'futura-regular'; src: url( './fonts/Futura Regular.ttf'  ); }*/

/* thx to https://developer.mozilla.org/en-US/docs/Web/CSS/line-height-step */
:root {
  --root-font-family:     futura-medium;
  --artist-font-family:   futura-medium;
  --title-font-family:    anton-regular;
  --jonas-font-family:    script-92;
  --slogan-font-family:   ccr;
  --root-font-size:       4mm;
  --td-padding-top:       calc( 0.5 * var(--root-font-size) );
  --td-shift-top:         calc( 0.5 * var(--root-font-size) );
  --artist-font-size:     calc( 1.0 * var(--root-font-size) );
  --note-font-size:       calc( 0.75 * var(--root-font-size) );
  --title-font-size:      calc( 1.2 * var(--root-font-size) );
  --jonas-font-size:      calc( 5 * var(--root-font-size) );
  --slogan-font-size:     calc( 2 * var(--root-font-size) );
  /*--card-height:          calc( 3 * var(--root-font-size) );*/
  --grid-size:            5mm;
  --root-text-color:      #333;
  --marker-color:         #f55;
  --jonas-color:          var(--marker-color);
  --slogan-color:         var(--marker-color);
  --link-color:           var(--marker-color);
  --warn-color:           hotpink;
  --column-width:         80mm; /* ### TAINT calculate from page size */
  --column-height:        80mm;
  font-family:            var(--root-font-family);
  font-size:              var(--root-font-size);
  line-height-step:       var(--grid-size);
  line-height:            var(--grid-size);
}

html, body {
  /*background-color:       #9eaeb5;*/
  /*height:                 100vh;*/
  /*width:                  100vw;*/
  /*width:                  210mm;*/
  padding:                0mm;
  margin:                 0mm;
  color:                  var(--root-text-color);
  /*position:               absolute;*/
  /*overflow:               hidden;*/
  /*font-size:              6mm;*/
}

frameholder {
  display:                block;
  float:                  left;
  margin:                 2.5mm;
  padding:                2mm;
  border:                 1px solid black;
  border-radius:          2mm; }

galley {
  display:                block;
  position:               relative;
  /*overflow-y:             scroll;*/
  margin:                 0mm;
  width:                  var(--column-width);
  margin-bottom:          var(--column-height); /* should be calculated as max of all column heights */
  margin-top:             var(--column-height); /* should be calculated as max of all column heights */
  page-break-inside:      avoid;
  /*columns:                3;*/ }

.debug galley {
  outline:                3px dotted red; }

galley > p {
  text-align:             justify;
  text-justify:           inter-character;
  line-height-step:       calc( 1 * var(--root-font-size) );
  margin-bottom:          calc( 1 * var(--root-font-size) ); }

galley > p::first-letter {
  font-size:              200%;
  color:                  red; }

@page {
  size:                   A4 landscape;
  margin-top:             14mm;
  margin-bottom:          14mm;
  /*padding:                0mm;*/
}

button#debug {
  position:               fixed;
  top:                    3mm;
  left:                   95mm;
}

iframe {
  margin:                 0mm;
  width:                  80mm;
  height:                 53mm;
  overflow:               hidden; }

iframe::-webkit-scrollbar {
  width:                  0;
  display:                none; }


